# fly.toml app configuration file generated for pq-guestbook on 2025-11-20T09:39:44-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pq-guestbook'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[[services]]
  protocol = 'tcp'
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']
    tls_options = { "alpn" = ["h2", "http/1.1"], "versions" = ["TLSv1.2", "TLSv1.3"] }

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
